
#forimg{
  background-image: url('https://i.pinimg.com/originals/1b/08/b5/1b08b59974eb9eafdfd95691d9d4f73c.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#hero {
    /* background-image: url('https://i.pinimg.com/originals/1b/08/b5/1b08b59974eb9eafdfd95691d9d4f73c.png'); */
    /* background-size: cover; */
    color: #fff;
    text-align: center;
    padding: 100px 20px;
  }

  .hero-content h1 {
    /* color: #5c1904; */
   
    font-weight: bold;
    text-shadow: 3px 3px 2px black;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  

  .hero-content p {
    /* color: #5c1904; */
    
    font-weight: bold;
    text-shadow: 3px 3px 2px black;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  
  
  /* section {
    padding: 60px 20px;
    text-align: center;
  } */


  #features {
    margin-top: 50px;
  }
  
  .feature {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  #Animation_________________

 


.animated-element {
  opacity: 0;
  transform: translateY(0);
  animation-fill-mode: forwards;
}

.hero-content h1 {
  animation: slideDownFadeIn 1s ease-out;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content p {
  animation: slideUpFadeIn 1s ease-out;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero-content .btn {
  animation: scaleFadeIn 1.5s ease-out;
}

@keyframes scaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.feature {
  opacity: 0;
  transform: translateY(50px);
  animation: featureFadeIn 1.5s ease-out forwards;
}

.feature:nth-child(1) {
  animation-delay: 0.3s;
}

.feature:nth-child(2) {
  animation-delay: 0.6s;
}

.feature:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes featureFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  